<ion-header>

  <ion-navbar>
    <ion-title>Entrega de libros</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-item>
    <ion-label floating>Selecciona un usuario</ion-label>
    <ion-select [(ngModel)]="usuario">
      <ion-option *ngFor="let usuario of usuarios" [value]="usuario">{{usuario}}</ion-option>
    </ion-select>
  </ion-item>
  <button ion-button color="secondary" outline full (click)="librosDelUsuario(usuario)">Buscar sus libros</button>

  <ion-item>
    <ion-label floating>Selecciona el libro a eliminar</ion-label>
    <ion-select [(ngModel)]="libro">
      <ion-option *ngFor="let libro of misLibros" [value]="libro">{{libro}}</ion-option>
    </ion-select>
  </ion-item>
  <button id="botonBorrar" color="danger" ion-button outline full (click)="eliminarLibro(libro)" >Eliminar libro</button>
</ion-content>