page-mis-libros {
    .bg-image{
        background-image: url('../assets/imgs/fondoBueno.png');
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
        background-attachment: fixed;
    }
}
