page-mis-libros {
    .bg-image{
        background-image: url('../assets/imgs/fondoBueno.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #listas{
        background-color: transparent !important;
        background-size: cover;
        border: none;
      }
}
