page-sesion {
  
      ion-thumnail{
        background-color: transparent;
      }
      .bg-image{
        background-image: url('../assets/imgs/imagen4.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
