page-sesion {
  
      #listas{
        background-color: transparent !important;
      }
      .bg-image{
        background-image: url('../assets/imgs/fondo3.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
