page-pagina-registro {
    .bg-image{
        background-image: url('../assets/imgs/fondo3.png');
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
        display: flex;
        background-attachment: fixed;
    }
}
