page-pagina-registro {
    .bg-image{
        background: linear-gradient(to bottom, grey 0%,rgb(50, 51, 50) 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

}
