page-pagina-reg-libro {
    .bg-image{
        background-image: url('../assets/imgs/fondoBueno.png');
        background-repeat: no-repeat;
        background-position: unset;
        background-size: cover;
    }
}
