page-add-user{
    .bg-image{
        background-image: url('../assets/imgs/fondo-app3.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        background-attachment: fixed;
    }

    #footer{

        position: fixed;
    }
    }