page-add-user{
    .bg-image{
        background-image: url('../assets/imgs/fondoBueno.png');
        background-repeat: no-repeat;
        background-position: initial;
        background-size: cover;
        background-attachment: fixed;
        position: -ms-page;
    }

    #footer{

        position: fixed;
    } 

    #alertas{
            border: none !important;
    }

    }